:root {
    --colorPrimario: #000;
    --colorSecundario: #dad5d5;
    --colorAcentos: #11bfbf;
    --colorAcento2: #7d7d7d;
    --fondoPrincipal: #FFF;

}

altura {
    height: 100vh;
}

.cabecera {
    height: 100px;
    background-color: var(--fondoPrincipal);


}

.logo {
    height: 120px;
}

.textoHeader {
    text-align: center;
}

.textoHeader h1 {
    font-size: 24px;
    color: var(--colorAcentos);
    font-weight: bold;

}

.separador {
    margin: 0;
    padding: 0;
    height: 3px;
    background-color: var(--colorSecundario);

}

.menu {
height: 100%;    border: var(--colorSecundario) solid 3px;
min-height: 100vh;    
padding-top: 10px;
    position: relative;
    color: var(--colorPrimario);
}

.menu a {
    color: var(--colorPrimario);
}

.menu>li:hover>a {
    color: var(--colorSecundario);
}

.textoHeader h2 {
    font-size: 18px;
}
.dropend{
    margin: 0;
padding: 0;
top:0;
left:0%;
}
.imgMenu{
    width: 85%;
    border: var(--colorSecundario) solid 5px;
}
div>h2{
    color: var(--colorAcentos);
    font-weight: bold;
}
.ministerio h2{
    color: var(--colorPrimario);
}
.imgCentro{
    width: 40%;
}
.iconos{
    width: 32px;
    height: 32px;
    margin: 3px;
}
footer h4{
    font-size: 18px;
}

footer div{
    margin-left: 15px;
    margin-right: 15px;
}